<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zwy.ciserver.dao.ProjectEntityMapper" >
  <resultMap id="BaseResultMap" type="com.zwy.ciserver.entity.ProjectEntity" >
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="branch" property="branch" jdbcType="VARCHAR" />
    <result column="cur_version" property="curVersion" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="descr" property="descr" jdbcType="VARCHAR" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_update" property="gmtUpdate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="TABLE">
    t_project
  </sql>
  <sql id="COLUMN">
    project_id, name, branch, cur_version, status, descr, gmt_create, gmt_update
  </sql>
  <insert id="insert" parameterType="com.zwy.ciserver.entity.ProjectEntity" >
    insert into t_project (project_id, `name`, branch, 
      cur_version, `status`, descr, 
      gmt_create, gmt_update)
    values (#{projectId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{branch,jdbcType=VARCHAR}, 
      #{curVersion,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{descr,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtUpdate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zwy.ciserver.entity.ProjectEntity" >
    insert into t_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="branch != null" >
        branch,
      </if>
      <if test="curVersion != null" >
        cur_version,
      </if>
      <if test="status != null" >
        `status`,
      </if>
      <if test="descr != null" >
        descr,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtUpdate != null" >
        gmt_update,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="branch != null" >
        #{branch,jdbcType=VARCHAR},
      </if>
      <if test="curVersion != null" >
        #{curVersion,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtUpdate != null" >
        #{gmtUpdate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>